/* pBlog 2.0 */

/*
 * The MIT License
 * 
 * Copyright 2015 mmk2410.
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FINESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * 
 */

body{
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 0px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}

img{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    float: center;
    z-index: 40;
    background: #ff4415;
    width: 100%;
    box-shadow: 0px 0px 4px 4px rgba(189, 189, 189, 0.5);
    -moz-box-shadow: 0px 0px 4px 4px rgba(189, 189, 189, 0.5);
    -webkit-box-shadow: 0px 0px 4px 4px rgba(189, 189, 189, 0.5);
    height: 60px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: nowrap;
}
.text{    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01px;
    background-color: #ffffff;
    z-index: 10;
    color: rgba(0, 0, 0, 0.87);
}
.text a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01px;
    color: #ff4415;
    text-decoration: none;
}
section{
    margin-bottom: 50px;
}

/*
Material design flat button

Usage: <a class=".text_button_flat">YOUR TEXT</a>

9th November 2014
*/
.button_white {
    text-decoration: none;
    color: #000000;
    line-height: 40px;
    min-width: 70px;
    text-align: center;
    height: 40px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #a2a2a2;
    border-radius: 3px;
    margin: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    letter-spacing: 0.4px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

/*
Material design flat button

Usage: <a class=".text_button_flat_colored">YOUR TEXT</a>

9th November 2014
*/
.button_color {
    text-decoration: none;
    line-height: 40px;
    min-width: 70px;
    text-align: center;
    height: 40px;
    padding: 8px;
    color: #FFFFFF;
    background-color: #ff4415;
    border-width: 1px;
    border-style: solid;
    border-color: #ff4415;
    border-radius: 3px;
    margin: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    letter-spacing: 0.4px;
    font-weight: 700;
    font-size: 14px;
}

.title{
    padding-left:15%;
    height: 60px;
    line-height: 60px;
    display:inline-block;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 24px;
    overflow-x: hidden;
    max-width: 35%;
}

.home{
    float: right;
    padding-right: 15%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    color: #fff;
    overflow-x: hidden;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    max-width: 35%;
}

.texttitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(33, 33, 33);
    line-height: 24px;
    letter-spacing: 0.05px;
    text-decoration: none;
}

.texttitle:hover{
    color: #ff4415;
}

.texttitlemono{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(33, 33, 33);
    line-height: 24px;
    letter-spacing: 0.05px;
    text-decoration: none;
}

.cc{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01px;
    text-align: center;
}

.cc a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.cc a:hover{
    text-decoration: underline;
}

.socialbar{
    display: inline-block;
    height: 68px;
    margin-top: 10px;
}

.socialimg{
    height: 40px;
    display: inline-block;
    padding-right: 5px;
}

@media screen and (max-width: 700px){
    body {
        margin-right: 40px;
        margin-left: 20px;
    }
    .title{
        padding-left: 10px;
        max-width: 45%;
    }
    .home{
        padding-right: 10px;
        max-width: 45%;
    }
}
